In [92]:
#numpy which is an number python basically a NUMERICAL COMPUTING TOOL
#Pandas is a library to covert in to a dataframes and perform data manupulations
#matplotlib is used for plotting the results
#seaborn Seaborn is a Python data visualization library based on matplotlib It provides a high-level interface for drawing attractive and informative statistical graphics

import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [240]:
#Extract data from csv files using pandas
land_price = pd.read_csv('C:/Users/Karthik/Desktop/Python/Land_cost.csv')

#can print data using print(),.head(),display()
land_price.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1
1,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
2,2012.667,20.4,2469.64500,4,24.96108,121.51046,23.8
3,2012.667,1.5,23.38284,7,24.96772,121.54102,47.7
4,2012.667,3.1,383.86240,5,24.98085,121.54391,56.2

In [258]:
#Splitting dependent and independent varaibles(y and x values)
X= land_price.iloc [:,:6].values
Y= land_price.iloc [: ,-1].values

In [259]:
land_price.describe(include='all')

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [260]:
land_price.isnull().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [261]:
display(X)

array([[2.0126670e+03, 7.1000000e+00, 2.1750300e+03, 3.0000000e+00,
        2.4963050e+01, 1.2151254e+02],
       [2.0126670e+03, 3.4500000e+01, 6.2347310e+02, 7.0000000e+00,
        2.4979330e+01, 1.2153642e+02],
       [2.0126670e+03, 2.0400000e+01, 2.4696450e+03, 4.0000000e+00,
        2.4961080e+01, 1.2151046e+02],
       ...,
       [2.0135830e+03, 2.7300000e+01, 3.3760160e+02, 6.0000000e+00,
        2.4964310e+01, 1.2154063e+02],
       [2.0135830e+03, 1.7400000e+01, 6.4880210e+03, 1.0000000e+00,
        2.4957190e+01, 1.2147353e+02],
       [2.0135830e+03, 6.2000000e+00, 1.9397490e+03, 1.0000000e+00,
        2.4951550e+01, 1.2155387e+02]])

In [262]:
display(Y)

array([ 32.1,  40.3,  23.8,  47.7,  56.2,  47.7,  13.2,  30.5,  53.3,
        42.2,  42.5,  39.7,  37.4,  15.5,  46.1,  25.9,  51.8,  26.5,
        49.7,  42.5,  31.3,  53.5,  37.9,  47.1,  22.8,  40.3,  31.9,
        39.7,  37.2,  50. ,  37.4,  25. ,  34.2,  55.1,  34.1,  50.8,
        45.7,  46.8,  52.2,  43.2,  11.6,  21.8,  21.5,  26.2,  40.2,
        39.3,  40.5,  44. ,  34.1,  35.7,  37.5,  18.6,  38.4,  47. ,
        24.8,  42.1,  12.9,  43.1,  13.7,  42. ,  25.6,  27. ,  45.4,
        32.9,  71. ,  39.5,  55.2,  19.2,  40.9,  14.7,  33.4,  15. ,
        52.7,  38.1,  41.1,  54.4,  28.5,  24.7,  23.6,  35.6,  30.9,
        53.7,  28.6,  25.7,  45.3,  20.9,  55.3,  28.5,  37.9,  42.2,
        39.3,  24.6,  22.9,  53.5,  27.7,  54.4,  29.8,  17.7,  48. ,
        21.8,  16.1,  41. ,  51.8,  57.4,  20.8,  45.5,  57.8,  30.6,
        44.3,  20.5,  31.5,  40.8,  40.2,  17.4,  13.8,  53. ,  26.5,
        25.6,  34.4,  56.3,  37.7,  22.8,  36.3,  29.5,  42.5,  37.3,
        38.8,  15.9,  50.7,  26.5,  36.8,  12.2,  13. ,  39.4,  22. ,
        36.6,  26.6,  12.8,  22.3,  23. ,  34. ,  32.9,  33.1,  19.2,
        37. ,  46.6,  42.3,  41.5,  29.3,  46.6,  40.3,  22.3,  15.4,
        52.5,  41.4,  47.9,  27. ,  57.1,  38.3,  20.7,  38.9,  51.7,
        42.4,  40.8,  48.1,  43.7,  34.6,  54.4,  47.1,  51.6,  46.4,
        62.9,  60.7,  28.4,  37.4,  58.8,  35.1,  36.5,  42. ,  42.6,
        39.1,  21.4,  34.2,  43.5,  58. ,  40.6,  28.8,  21.7,  28.8,
        37. ,  24.5,  36.9,  55. ,  27.3,  38.1,  12.8,  63.3,  52.2,
        35.3,  27.7,  25.3,  46.2,  20. ,  31.3,  48.6,  37.5,  43.5,
        15.6,  55.9,  25.7,  37.8,  42.7,  61.9,  39. ,  30. ,  24.4,
        40.6,  41. ,  55.3,  21.8,  46.1,  42.2,  39.6,  45.1,  40.5,
        70.1,  33.6,  49.3,  43.2,  32.5,  55. ,  37.5,  51.4,  48.5,
        40.9,  35.6,  48.2,  44. ,  39.7,  42.3,  49. ,  23.9,  43.9,
        30.7,  23.7,  45.4,  19.1,  41.6,  42. ,  26.9,  60.7,  49.5,
        23.8,  25.6,  67.7,  35.5,  40.6,  58.1,  25.3,  26.6,   7.6,
        28.9,  28.9,  14.4,  34.6,  31.1,  48.1,  78.3,  38.5,  46. ,
        32.4,  23.1, 117.5,  44.8,  44.5,  16.7,  42.8,  49.8,  15.6,
        50.4,  42.9,  56.8,  37.4,  69.7,  53.3,  41.2,  46.7,  22.1,
        42.3,  29.3,  51.6,  34.7,  42. ,  13.4,  44.2,  41.9,  21.3,
        44.3,  36.2,  59.5,  51. ,  62.2,  34.1,  23.1,  45.5,  41. ,
        37.5,  39.6,  73.6,  43.4,  23.5,  45.2,  49.3,  31.6,  25.5,
        45.9,  43.8,  46.6,  48.2,  40.8,  40.6,  17.4,  63.3,  31.7,
        40.1,  29.3,  27.7,  31.1,  23.5,  29.4,  53. ,  42.5,  36.7,
        30.8,  30.1,  44.9,  40. ,  33.1,  43.1,  30.5,  47.3,  32.2,
        23. ,  28.1,  54.8,  18.8,  34.3,  47. ,  22.1,  27.3,  18.2,
        22.6,  63.2,  56.8,  29.5,  40.3,  25.3,  38.2,  30.6,  59.6,
        48. ,  30.7,  47.4,  40.1,  45.1,  44.7,  20.7,  55.5,  36.7,
        23.6,  18.8,  42.3,  29.3,  52.2,  33.4,  29.7,  41.4,  38.1,
        23.2,  38.4,  50.2,  62.1,  41.2,  31.3,  24.7,  48. ,  51.7,
        27.3,  38.6,  24.7,  63.9,  47.3,  50.5,  53.9,  61.5,  27. ,
        55. ,  59. ,  36.3,  36.8,  18.3,  28.4,  39.4,  18.3,  58.1,
        20.9,  48.5,  19. ,  51. ,  24.7,  78. ,  36.5,  11.2,  31.3])

In [263]:
from sklearn. model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [264]:
from sklearn.linear_model import LinearRegression
regressor =LinearRegression()
print(regressor)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [265]:
###Train the model
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [266]:
##Test the Model
Y_pred=regressor.predict(X_test)

In [250]:
print(Y_pred,Y_test)

[17.04884484 39.03860005 49.55101668 44.79086195 42.5884332  42.83095244
 42.16118334 39.72478448 49.52479134 39.07506078 43.7808634  44.9957828
 45.7826962  38.88748047 13.77635367 34.80379545 40.82854785 46.14722627
 39.3151057  33.55793806 34.490489   43.93916245 33.14761321 26.74709629
 42.88884931 47.57101852 33.02627801 31.63588766 36.38284858 42.14760271
 44.44897242 38.58233389 41.10975906 26.33141833 32.72285678 33.59091768
 53.58087026 37.96239806 37.19334885 36.71775625 44.84454304 34.12369338
 33.18620193 44.24887909 43.79147627 44.90493488 30.84719919 29.93993667
 28.41689015 31.53693771 32.78609748  9.53163189 38.82135747 45.96289793
 38.91919762 44.44021963 45.33145013 13.56418527 42.45422573 32.67395878
 39.66182398 47.54840216 39.75664513 39.72602774 23.12703982 33.47103699
 30.23096411 43.56938271 28.88135157 43.63951047 38.18204682 45.85559744
 47.99807417 47.62546164 42.62688603 48.97000626 44.22359857 38.0989505
 51.64589128 24.79667127 36.12610868 40.18790855 41.62848858] [25.3 46.4 40.5 42.5 37.5 29.3 40.3 42.5 53.5 38.5 43.8 42.  39.4 35.3
 22.1 28.5 34.6 48.1 37.4 28.8 23.  46.8 30.1 24.8 46.6 53.3 27.7 25.6
 33.4 39.6 42.3 42.3 39.3 25.9 23.1 29.5 59.5 32.9 41.1 26.9 38.2 23.6
 23.5 40.1 36.2 52.5 21.8 24.7 25.6 27.7 31.3 13.2 40.3 43.4 37.  44.3
 40.3 13.  35.6 26.6 24.5 39.5 42.6 42.5 22.  28.8 35.7 38.4 31.9 39.3
 36.6 56.2 46.1 55.5 36.3 55.  47.7 35.1 73.6 16.1 30.5 37.9 40.9]

In [267]:
##Calculating the score
from sklearn.metrics import r2_score
score=r2_score(Y_test,Y_pred)
print(score)

0.663704053346746

In [268]:
Y_test = pd.DataFrame(Y_test)
Y_test['Predicted_Price_Unit_Area'] = Y_pred
Y_test.head()

      0  Predicted_Price_Unit_Area
0  25.3                  17.120085
1  46.4                  38.716838
2  40.5                  49.546424
3  42.5                  44.713916
4  37.5                  42.346796

In [269]:
land_price['Predicted_Price_Unit_Area'] = regressor.predict(X)
land_price.head(5)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area,Predicted_Price_Unit_Area
0,2012.667,7.1,2175.03000,3,24.96305,121.51254,32.1,31.058585
1,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3,38.815891
2,2012.667,20.4,2469.64500,4,24.96108,121.51046,23.8,27.050247
3,2012.667,1.5,23.38284,7,24.96772,121.54102,47.7,47.459799
4,2012.667,3.1,383.86240,5,24.98085,121.54391,56.2,45.724279

In [270]:
##Multicollonearity between all features
land_price_Corr = pd.read_csv('C:/Users/Karthik/Desktop/Python/Land_cost.csv')
land_price_Corr.corr()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
X1 transaction date,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
X2 house age,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
X3 distance to the nearest MRT station,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
X4 number of convenience stores,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
X5 latitude,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
X6 longitude,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
Y house price of unit area,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

In [281]:
X1= land_price_Corr.iloc [:,:5].values
Y1= land_price_Corr.iloc [: ,-1].values

In [295]:
from sklearn. model_selection import train_test_split
X_train_corr, X_test_corr, Y_train_corr, Y_test_corr=train_test_split(X1,Y1,test_size=0.2,random_state=0)
from sklearn.linear_model import LinearRegression
regressor =LinearRegression()
regressor.fit(X_train_corr, Y_train_corr)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [298]:
Y_pred_corr=regressor.predict(X_test_corr)

In [302]:
from sklearn.metrics import r2_score
score=r2_score(Y_test_corr,Y_pred_corr)
print(score)

0.6652493332604374

In [301]:
###Tuning on Plynomialfeatures
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree=2)
X_poly = pf.fit_transform(X1)
X_poly_train , X_poly_test ,Y_poly_train , Y_poly_test = train_test_split(X_poly,Y,test_size =0.2 , random_state = 0)
LM_poly = LinearRegression()
LM_poly.fit(X_poly_train,Y_poly_train)
LM_poly.score(X_poly_test ,Y_poly_test)

0.702884752084026